* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'venecia-font';
    src: url(../asset/fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: 'abz';
    src: url(../asset/fonts/ABeeZee-Regular.ttf);
}
body{
    font-family: 'abz';
    font-size: 1.125rem;
}
/*header*/
header{
    background-color: black;
    color: white;
    width: 100%;
    height: 190px;
}
.header-div{
    display: flex;
    height: 7.5rem;
    border-bottom: .0625rem solid #d9d9d9;
}
.header-div form input{
    background-color: black;
    width: 16.875rem;
    height: 2.5rem;
    margin: .9375rem 0rem 0rem .625rem;
    padding-left: .625rem;
    border: .0625rem solid #d9d9d9;
    border-radius: .3125rem;
    font-size: .9375rem;
}
.header-div img{
    width: 1.5625rem;
    height: 1.5625rem;
}

.header-div h1{
    font-family: 'venecia-font';
    font-size: 4rem;
    font-weight: lighter;
}

.header-nav ul {
    display: flex;
    list-style: none;
}
.header-nav ul li a{
    text-decoration: none;
    color: white;
    margin: .625rem;
}

/*main de INICIO*/
.section-1{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../asset/img/clothes.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30rem;
}
.section-1 div img{
    width: 15.625rem;
    height: 21.25rem;
}
.section-1 h2{
    font-family: 'venecia-font';
    font-size: 2.8125rem;
    font-weight: lighter;
    opacity: 0.78;
}
.section-2{
    display: flex;
    height: 32.125rem;
}
.section-2 div img{
    width: 26.25rem;
    height: 24.25rem;
}
.section-2 div p{
    font-family: 'abz';
    font-size: 1.75rem;
}

/*main de PRODUCTOS*/
.div-inicio{
    display: flex;
}
.p1{
        opacity: 0.62;
}
.container h2{
    font-size: 1.875rem;
    font-weight: 600;
}
.ordenar-por form select{
    width: 16.25rem;
    height: 2.5rem;
    font-family: 'abz';
    font-size: 1.125rem;
    border-color: black;
    border-radius: .3125rem;
}

.filtros div h3{
    font-size: 1.125rem;
}
.filtros div ul{
    opacity: 0.75;
}
.form-talle input{
    border-color: black;
}
.form-talle label{
    opacity: 0.8;
}

.form-precio label{
    opacity: 0.8;
}
.form-precio input{
    width: 3.75rem;
    height: 2.0625rem;
    border-radius: 10%; 
}
.productos .cards img{
    width: 17.5rem;
    height: 29.6875rem;
}
/*main de CONTACTO*/
.datos ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.9;
}
.contacto form label{
    opacity: 0.9;
}
.enviar{
    background-color: black;
    color: white;
}
/*main COMO COMPRAR*/
.como-comprar p{
    font-weight: bold;
}
.como-comprar ol li{
    opacity: 0.9;
    margin-left: 1.25rem;
}
/*main SOBRE NOSOTROS*/
.sobre-nosotros p{
    opacity: 0.9;
}
/*footer*/
footer {
    background-color: black;
    color: white;
}

footer div h3{
    font-size: 1.125rem;
}

footer div ul li a{
    text-decoration: none;
    color: white;
}
div ul li a img{
    width: 1.125rem;
    height: 1.125rem;
}
footer div img{
    width: 1.5625rem;
    height: 1.5625rem;
}